@{
    ViewBag.Title = "About";
}
<div class="nav-tabs-custom">
    <div class="tab-content">
        <h2>@ViewBag.Title.</h2>
        <h3>Automine Car Showroom</h3>

        <p>Our car showroom is located on Khalid bin Waleed Road, Karachi (KHADIJA ARCADE # 8,SHOP no. 4, MANIYA SOCIETY)

You can have any kind of help from AUTOMINE for selling or purchasing an automobile. We can also suggest you the best mechanic or painter for yor your vehicle.

And now we can also provide you the best TAKAFUL(islamic) insurance and best tracking device for vehicle.

CONTACT US: 021 34527572- 34527573 (12pm to 8pm) or you can also mail us: automine@ymail.com......

THANK YOU!!!!!!</p>
    </div>
</div>
