@{
    ViewBag.Title = "Contact";
}
<div class="nav-tabs-custom">
    <div class="tab-content">
        <h2>@ViewBag.Title.</h2>

        <address>
            Khalid bin Waleed Road,<br>
            KHADIJA ARCADE # 8,<br>
            SHOP no. 4,<br>
            MANIYA SOCIETY,<br>
            Karachi
        </address>

        <address>
            <strong>Contact Us: </strong>021 34527572- 34527573 (12pm to 8pm)<br />
            <strong>Email: </strong> <a href="mailto:automine@ymail.com">automine@ymail.com</a>
        </address>
     </div>
</div>